* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

body {
  display: block;
}
title {
  display: none;
}

#header {
  max-width: 1440px;
  width: 100%;
  height: 150px;
  /* background-color: red; */
}

#header p {
  float: right;
  color: green;
  font-weight: bold;
}

#logo {
  max-width: 1440px;
  display: flex;
  background-image: linear-gradient(#ffd455, #fec20d);
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
}
.image-logo {
  /* margin: 10px auto; */
  padding: 5px;
  width: 700px;
  height: 100px;
  justify-content: center;
}

.image-year-logo {
  /* background-color: blue; */
  /* margin-right: 25%; */
  padding: 5px;
}

/* navbar styling */

.navbar {
  margin-top: 5px;
  background-color: #202040;
  width: 100vw;
  max-width: 1440px;
  height: 50px;
}

.navbar ul {
  list-style: none;
  margin: 13px 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* overflow: hidden; */
  height: 50px;
}

.navbar li {
  float: left;
  display: block;
  position: relative;
  text-decoration: none;
  height: 50px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  height: 50px;
  background: #202040;
  text-align: center;
  padding: 14px 16px;
  display: inline-block;
  border: 1px solid transparent;
}

.navbar ul li a:hover {
  /* border-radius: 5px; */
  /* box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; */
  border: 1px solid white;
}

.dropdown-trigger {
  position: relative;
}
#dropdown-content {
  display: none;
}
#dropdown-content a {
  width: 100%;
  height: 70px;
}

#dropdown-content.active {
  display: block;
  position: absolute;
  width: 200px;
  left: -50px;
  top: 50px;
  z-index: 999;
}

/* dropdown styling */



.dropdown2-trigger {
  position: relative;
}
#dropdown2-content {
  display: none;
}
#dropdown2-content a {
  width: 100%;
  height: 70px;
}

#dropdown2-content.active {
  display: block;
  position: absolute;
  width: 200px;
  left: -30px;
  top: 50px;
  z-index: 999;
}

/* gallery css */
.carousel {
  display: block;
  width: 80vw;
  margin: auto;
}

.carousel .carousel-item {
  margin: 25px;
  padding: 10px;
  height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
  width: 80vw;
  max-width: 1204px;
}
.carousel-item.active {
  width: 80vw;
}
.carousel-caption {
  color: green !important;
}

/* Introduction section styling */
.home-container {
  padding: 70px;
  margin: auto;
  max-width: 1440px;
  display: grid;
}
.home-container.with-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.home-container.grey {
  background-color: #e3ecef;
  
}
.home-container.content {
  width: 70%;
  line-height: 30px;
}
.home-container h2 {
  font-size: 30px;
  place-self: baseline;
  margin-bottom: 20px;
}
.home-container-image {
  padding: 20px;
  border-radius: 6px;
}
.home-container.centered-container {
  display: grid;
  place-items: center;
}
/* footer styling */
footer {
  background-color: black;
  color: white;
  margin-top: 10px;
}

.footer-container {
  display: flex;
  gap: 20px;
  padding: 50px 20px;
}

.footer-container h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.about {
  flex-grow: 1;
  flex-basis: 100%;
}

.services {
  flex-grow: 1;
  flex-basis: 70%;
}

.contact {
  flex-grow: 1;
  flex-basis: 100%;
  text-align: justify;
}

.about ul {
  list-style-type: none;
  line-height: 1.6;
}

.services ul {
  list-style-type: none;
  line-height: 1.7;
}

.services a {
  text-decoration: none;
  color: white;
}

.services a:hover {
  text-decoration: underline;
  color: blue;
}

.copyright {
  padding: 15px 0;
  text-align: center;
  border: 1px solid gray;
}

/* Media queries to make it responsive */
@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}

/* Vision and mission styling */

.vision-container {
  width: 100%;
  min-height: 10vh;
  background-color: #f4f4ef;
  display: flex;
  justify-content: center;
  padding: 0px 90px;
}

.vision-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.vision-content .card img {
  height: auto;
  width: 100%;
}

.vision-content .card {
  flex: 1;
  justify-content: flex-start;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  height: 480px;
  width: 380px;
  border-radius: 4px;
  overflow: hidden;
}

.vision-content .card h2 {
  margin: 15px 0px;
  font-size: 28px;
  color: #1662a1;
  font-family: "Times New Roman", Times, serif;
}

.vision-content.card.card-content {
  height: 280px;
}

.vision-content .card p {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .vision-content {
    flex-direction: column;
  }
}
