*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

:root{
  --primarycolor: #F1F0E8;
  --secondarycolor: #D6E8DB;
 
}
body{
  overflow-x: hidden;
}

#header {
  max-width: 1440px;
  width: 100%;
  height: 150px;
  margin: 0 auto;
}

#header p {
  float: right;
  color: green;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

#logo {
  max-width: 1440px;
  display: flex;
  background-image: linear-gradient(#ffd455, #fec20d);
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.image-logo {
  padding: 5px;
  width: 700px;
  height: 100px;
  justify-content: center;
}

.image-year-logo {
  padding: 5px;
}

/* Navbar styling */



.navbar{

background-color: #202040;
display: flex;
width: 100vw;
height: 50px;
align-items: center;

justify-content: space-around;

}

.navbar-links{
position: relative;
padding: 10px 45px;
text-decoration: none;
color: white;
font-size: 20px;
overflow: hidden;
}



.navbar-links:hover{
background: #112c66;
}

.dropdown, .dropdown2{
display: none;
}

#dropdown-content a {
width: 100%;
padding: 15px 2px;
color: white;
text-align: center;
text-decoration: none;
border-bottom: 1px solid white;
}

#dropdown-content.active {
display: flex;
position: absolute;
background-color:#1B4242 ;
font-size: 18px;
width: 218px;
top: 213px;
left: 138px;
z-index: 999;
flex-direction: column;
}

#dropdown-content, #dropdown2-content a:hover{
background-color: #202060;
}


#dropdown2-content a{
width: 100%;
padding: 15px 2px;
color: white;
text-align: center;
text-decoration: none;
border-bottom: 1px solid white;
}

#dropdown2-content.active2 {
display: flex;
position: absolute;
background-color:#1B4242 ;
font-size: 18px;
width: 218px;
top: 213px;
left: 313px;
z-index: 999;
flex-direction: column;
}



/* Image slider */


.swiper{
background-color: #EEE0C9;
}


.swiper-slide img{

height: 60vh;
width: 80vw;
margin: 20px 150px;
object-fit: cover;
}

.swiper .swiper-btn{

padding: 20px;
color: black;
margin: 0px 25px;
}

.swiper .swiper-pagination-bullet{
background-color: black;
}


/* .divider{
width: 100vw;
height: 25px;
background-color: red;
margin-top: 15px;
} */

/* Introduction section styling */
.home-container {
padding: 40px 70px;
margin: auto;
max-width: 1440px;
background-color: #F1F0E8 ;
}
.first{
animation: sliding 1s ease-in 0.5s  forwards ;
}

@keyframes sliding {
from{
  transform: translateX(-50%);

}
to{
  transform: translateX(00px);

}
}
.content{

font-size: 18px;
line-height: 1.5em;
margin-bottom: 5px;
}

.home-container.grey {
background-color: #D6E8DB;

}

.section-heading{
text-align: center;
font-size: 30px;
margin-bottom: 20px;
}


.reveal {
position: relative;
}
.reveal.active {
opacity: 1;
}
.active.fade-bottom {
animation: fade-bottom 1s ease-in;
}
.active.fade-left {
animation: fade-left 1s ease-in;
}
.active.fade-right {
animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
0% {
  transform: translateY(50px);
  opacity: 0;
}
100% {
  transform: translateY(0);
  opacity: 1;
}
}
@keyframes fade-left {
0% {
  transform: translateX(-100px);
  opacity: 0;
}
100% {
  transform: translateX(0);
  opacity: 1;
}
}

@keyframes fade-right {
0% {
  transform: translateX(100px);
  opacity: 0;
}
100% {
  transform: translateX(0);
  opacity: 1;
}
}





/* footer styling */
footer {
background-color: black;
  color: white;
  

}

.footer-container {

display: flex;
gap: 20px;
padding: 50px 20px;
}

.footer-container h3 {
margin-bottom: 20px;
font-size: 20px;
}

.about {

  flex-grow: 1;
  flex-basis: 100%;
  
}

.flex{
flex-direction: column;
display: flex;
align-items: center;
gap: 10px;
}
.services {
flex-grow: 1;
flex-basis: 70%;

}

.contact {
flex-grow: 1;
flex-basis: 100%;
text-align: justify;
}

.contact li{
text-align: left;
}

.about ul {
list-style-type: none;
line-height: 1.6;
}

.services ul {
list-style-type: none;
line-height: 1.7;
}

.services a {
text-decoration: none;
color: white;
}

.services a:hover {
text-decoration: underline;
color: blue;
}

.copyright {
padding: 15px 0;
text-align: center;
border: 1px solid gray;
}

/* Media queries to make it responsive */
@media only screen and (max-width: 768px) {
.footer-container {
  flex-direction: column;
}
}

